In [1]:
# Load packages
import pandas as pd
import numpy as np

In [2]:
# Load data
df_celltypes = pd.read_excel("/Users/samuelking/Library/CloudStorage/Box-Box/1-samhking-external/1-samhking-personal/class/Class Winter Quarter 2024/BIODS 205/Final project/cellBCs_and_celltypes.xlsx")
df_celltypes

                     cell_BC    cell_type
0       AAACGAAAGTGGAAAG-1_1      Myeloid
1       AAACGAAGTCATAGTC-1_1   Epithelial
2       AAACGCTGTAATCAGA-1_1   Epithelial
3       AAAGAACCATTAAAGG-1_1      Myeloid
4       AAAGGATTCGGCTTGG-1_1     NK cells
...                      ...          ...
43578  TTTCCTCTCTGGTATG-1_17          DCs
43579  TTTGCGCGTAGCGTCC-1_17   Epithelial
43580  TTTGGTTCATGCATGT-1_17  Fibroblasts
43581  TTTGGTTTCAACGGCC-1_17   Epithelial
43582  TTTGTCACAGATGGCA-1_17   Epithelial

[43583 rows x 2 columns]

In [3]:
# Load data
df_taxa = pd.read_excel("/Users/samuelking/Library/CloudStorage/Box-Box/1-samhking-external/1-samhking-personal/class/Class Winter Quarter 2024/BIODS 205/Final project/cellBCs_and_taxa_counts.xlsx")
df_taxa

,Unnamed: 0,AAACGAAGTCATAGTC-1_1,AAAGAACCATTAAAGG-1_1,AAAGGGCAGTAGCAAT-1_1,AAAGGGCAGTGAATAC-1_1,AAAGGGCCATGAAGGC-1_1,AAAGTGAGTCACCTTC-1_1,AACAACCGTCTTCAAG-1_1,AACAAGAGTGTATCCA-1_1,AACACACGTTTGTTCT-1_1,...,TTAACTCTCCATTCTA-1_17,TTAGGCACATGGGAAC-1_17,TTAGTTCAGATCCGAG-1_17,TTCTACAGTCCATCCT-1_17,TTGGAACAGATATACG-1_17,TTTATGCGTTACGACT-1_17,TTTCCTCGTGGCTCCA-1_17,TTTCCTCTCAGCCTAA-1_17,TTTGCGCGTAGCGTCC-1_17,TTTGTCACAGATGGCA-1_17
0,Aliarcobacter,0,0,0,1,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
1,Hathewaya,0,23,10,0,0,3,18,1,0,...,0,0,0,0,0,0,0,0,0,1
2,Blattabacterium,0,0,1,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
3,Campylobacter,1,1,1,0,3,0,0,0,3,...,1,2,1,1,1,1,1,1,1,0
4,Polaribacter,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Bartonella,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Borreliella,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Brachyspira,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Buchnera,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Clostridioides,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Colwellia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Ehrlichia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,Erwinia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,Flavobacterium,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,Francisella,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,Fusobacterium,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,Helicobacter,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,Legionella,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,Leptotrichia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,Malaciobacter,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Mammaliicoccus,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,Maribacter,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,Mucilaginibacter,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,Prochlorococcus,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Proteus,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,Romboutsia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,Sulfurimonas,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,Wolbachia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,Yersinia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
# Define a function to replace cell BC column names in the taxa matrix with their corresponding cell types
def cellbc_to_celltype(celltypes, taxacounts):
    """
    Args:
    celltypes: pandas dataframe consisting of cell BCs column and cell types column
    taxacounts: pandas dataframe consisting of a taxa x cell BCs counts matrix

    Returns:
    pandas dataframe consisting of a taxa x cell types counts matrix
    """

    # Initialize an empty dataframe to store the aggregated counts of taxa in cell types
    aggregated_counts = pd.DataFrame(index=taxacounts.index, columns=celltypes['cell_type'].unique())
    
    # Iterate over the cell barcodes in the celltypes dataframe
    for cell_bc, cell_type in zip(celltypes['cell_BC'], celltypes['cell_type']):
        # Check if the cell barcode exists in the taxacounts matrix
        if cell_bc in taxacounts.columns:
            # If the cell barcode exists, add the taxa counts for that cell barcode to the corresponding cell type column
            aggregated_counts[cell_type] = aggregated_counts[cell_type].add(taxacounts[cell_bc], fill_value=0)
    
    return aggregated_counts

In [13]:
df = cellbc_to_celltype(df_celltypes, df_taxa)
df

,Myeloid,Epithelial,NK cells,B cells,CD4+ T cells,Unknown,Mast,CD8+ T cells,DCs,Fibroblasts,Endothelial
0,1707,3615,137,869,522,54,155,509,292,1400,82
1,4292,1318,108,146,277,19,36,204,56,260,23
2,3372,6324,267,1548,944,108,299,950,579,2765,161
3,5536,9557,366,2627,1491,124,425,1509,914,3944,265
4,2266,4506,187,1194,731,60,1002,765,449,1907,151
5,1328,4073,130,916,814,51,101,561,163,802,80
6,268,697,22,223,133,18,45,149,96,333,19
7,236,488,15,183,82,13,32,112,69,290,17
8,1917,8421,227,1480,1339,69,272,1171,527,2004,167
9,1455,5194,145,768,690,47,298,568,253,1164,82
10,477,1333,42,211,189,14,46,162,86,312,21
11,215,453,14,151,88,2,32,92,54,240,19
12,1851,8003,230,1480,1445,77,186,1173,276,1440,167
13,776,1883,70,706,448,21,249,484,179,1099,70
14,807,2800,77,447,438,36,83,352,142,619,48
15,951,1834,63,625,324,28,133,287,176,729,67
16,165,372,15,162,81,8,27,83,47,194,12
17,1030,3632,90,553,546,27,127,439,169,846,61
18,839,1823,71,679,395,25,131,382,244,944,64
19,994,2253,77,680,359,25,205,449,253,1027,73
20,624,2335,55,397,330,20,76,269,205,576,47
21,243,496,20,150,85,6,35,86,61,296,23
22,477,864,41,244,160,9,39,165,62,378,25
23,445,2085,41,367,320,26,50,272,118,505,44
24,1325,4753,143,1014,743,58,190,574,234,1017,82
25,396,1851,35,323,269,21,66,213,92,426,28
26,739,1335,54,297,217,15,67,240,136,610,37
27,241,560,18,205,127,13,47,141,75,254,19
28,361,1543,29,267,217,20,53,199,92,310,24

In [16]:
# Replace the row names with the taxa names
taxa_names = ["Aliarcobacter",
              "Hathewaya",
              "Blattabacterium","Campylobacter",
              "Polaribacter",
              "Bartonella",
              "Borreliella",
              "Brachyspira",
              "Buchnera",
              "Clostridioides",
              "Colwellia",
              "Ehrlichia",
              "Erwinia",
              "Flavobacterium",
              "Francisella",
              "Fusobacterium",
              "Helicobacter",
              "Legionella",
              "Leptotrichia",
              "Malaciobacter",
              "Mammaliicoccus",
              "Maribacter",
              "Mucilaginibacter",
              "Prochlorococcus",
              "Proteus",
              "Romboutsia",
              "Sulfurimonas",
              "Wolbachia",
              "Yersinia"]
df.index = taxa_names
df

,Myeloid,Epithelial,NK cells,B cells,CD4+ T cells,Unknown,Mast,CD8+ T cells,DCs,Fibroblasts,Endothelial
Aliarcobacter,1707,3615,137,869,522,54,155,509,292,1400,82
Hathewaya,4292,1318,108,146,277,19,36,204,56,260,23
Blattabacterium,3372,6324,267,1548,944,108,299,950,579,2765,161
Campylobacter,5536,9557,366,2627,1491,124,425,1509,914,3944,265
Polaribacter,2266,4506,187,1194,731,60,1002,765,449,1907,151
Bartonella,1328,4073,130,916,814,51,101,561,163,802,80
Borreliella,268,697,22,223,133,18,45,149,96,333,19
Brachyspira,236,488,15,183,82,13,32,112,69,290,17
Buchnera,1917,8421,227,1480,1339,69,272,1171,527,2004,167
Clostridioides,1455,5194,145,768,690,47,298,568,253,1164,82
Colwellia,477,1333,42,211,189,14,46,162,86,312,21
Ehrlichia,215,453,14,151,88,2,32,92,54,240,19
Erwinia,1851,8003,230,1480,1445,77,186,1173,276,1440,167
Flavobacterium,776,1883,70,706,448,21,249,484,179,1099,70
Francisella,807,2800,77,447,438,36,83,352,142,619,48
Fusobacterium,951,1834,63,625,324,28,133,287,176,729,67
Helicobacter,165,372,15,162,81,8,27,83,47,194,12
Legionella,1030,3632,90,553,546,27,127,439,169,846,61
Leptotrichia,839,1823,71,679,395,25,131,382,244,944,64
Malaciobacter,994,2253,77,680,359,25,205,449,253,1027,73
Mammaliicoccus,624,2335,55,397,330,20,76,269,205,576,47
Maribacter,243,496,20,150,85,6,35,86,61,296,23
Mucilaginibacter,477,864,41,244,160,9,39,165,62,378,25
Prochlorococcus,445,2085,41,367,320,26,50,272,118,505,44
Proteus,1325,4753,143,1014,743,58,190,574,234,1017,82
Romboutsia,396,1851,35,323,269,21,66,213,92,426,28
Sulfurimonas,739,1335,54,297,217,15,67,240,136,610,37
Wolbachia,241,560,18,205,127,13,47,141,75,254,19
Yersinia,361,1543,29,267,217,20,53,199,92,310,24

In [20]:
# Save the dataframe
df.to_excel("~/taxa_x_celltypes.xlsx", index=True)

In [37]:
# Define a function to calculate the Shannon diversity index for each cell type
def shannon_diversity(column):
    """
    Calculate Shannon diversity index for a given pandas DataFrame column.

    Parameters:
    column (pandas.Series): A pandas Series representing counts of different categories.

    Returns:
    float: Shannon diversity index.
    """
    # Convert column to numeric data type
    column = pd.to_numeric(column)
    
    # Total count of observations
    total_count = column.sum()
    
    # Convert counts to proportions
    proportions = column / total_count
    
    # Clip proportions to avoid log(0) or log(1)
    proportions = np.clip(proportions, 1e-10, 1 - 1e-10)
    
    # Calculate Shannon entropy
    shannon_entropy = -np.sum(proportions * np.log(proportions))
    
    return shannon_entropy

In [46]:
print(f"The Shannon diversity index of the Myeloid cells is {shannon_diversity(df['Myeloid'])}.")
print(f"The Shannon diversity index of the Epithelial cells is {shannon_diversity(df['Epithelial'])}.")
print(f"The Shannon diversity index of the NK cells is {shannon_diversity(df['NK cells'])}.")
print(f"The Shannon diversity index of the B cells is {shannon_diversity(df['B cells'])}.")
print(f"The Shannon diversity index of the CD4+ T cells is {shannon_diversity(df['CD4+ T cells'])}.")
print(f"The Shannon diversity index of the Unknown cells is {shannon_diversity(df['Unknown'])}.")
print(f"The Shannon diversity index of the Mast cells is {shannon_diversity(df['Mast'])}.")
print(f"The Shannon diversity index of the CD8+ T cells is {shannon_diversity(df['CD8+ T cells'])}.")
print(f"The Shannon diversity index of the Dendritic cells is {shannon_diversity(df['DCs'])}.")
print(f"The Shannon diversity index of the Fibroblasts is {shannon_diversity(df['Fibroblasts'])}.")
print(f"The Shannon diversity index of the Endothelial cells is {shannon_diversity(df['Endothelial'])}.")

The Shannon diversity index of the Myeloid cells is 2.958981022090198.
The Shannon diversity index of the Epithelial cells is 3.036756590286364.
The Shannon diversity index of the NK cells is 3.0180870859913824.
The Shannon diversity index of the B cells is 3.0539427098180236.
The Shannon diversity index of the CD4+ T cells is 3.057670185623494.
The Shannon diversity index of the Unknown cells is 3.062203333795572.
The Shannon diversity index of the Mast cells is 2.8876652178440514.
The Shannon diversity index of the CD8+ T cells is 3.0713919899700346.
The Shannon diversity index of the Dendritic cells is 3.0517397900534435.
The Shannon diversity index of the Fibroblasts is 3.0444452999388036.
The Shannon diversity index of the Endothelial cells is 3.0506467520537033.

In [6]:
# Count total number of cells of each cell type
df_celltypes['cell_type'].value_counts()

cell_type
Myeloid         13430
Epithelial      12761
CD4+ T cells     5075
CD8+ T cells     3365
Fibroblasts      2443
B cells          2358
Mast             1560
NK cells         1456
DCs               447
Unknown           373
Endothelial       315
Name: count, dtype: int64